@import url('https://fonts.googleapis.com/css?family=Oswald:500');
.back{
  
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
 
}

nav{
  width: 100%;
 
  top:50px;
  text-align:center;
}
nav a{
  font-family: 'Oswald', sans-serif;
  font-weight:500;
  text-transform:uppercase;
  text-decoration:none;
  color: #274c5e;
  margin:0 15px;
  font-size:16px;
  
  letter-spacing:1px;
  position:relative;
  display:inline-block;
}
nav a:hover {
  color: #274c5e;
  text-decoration: none;
}
nav a:before{
  content:'';
  position: absolute;
  width: 100%;
  height: 3px;
  background:#16151b;
  top:47%;
  animation:out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
nav a:hover:before{
  animation:in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;


}
@keyframes in{
  0%{
    width: 0;
    left:0;
    right:auto;
  }
  100%{
    left:0;
    right:auto;
    width: 100%;
  }
}
@keyframes out{
  0%{
    width:100%;
    left: auto;
    right: 0;
  }
  100%{
    width: 0;
    left: auto;
    right: 0;
  }
}
@keyframes show{
  0%{
    opacity:0;
    transform:translateY(-10px);
  }
  100%{
    opacity:1;
    transform:translateY(0);
  }
}

@for $i from 1 through 5 {
  nav a:nth-child(#{$i}){
    animation:show .2s #{$i*0.1+1}s ease 1 both;
  }
}

.main {
background-color: #D8E6E7;
height: 430px;
}
.main-text {
 font-size: 230px;
  color: #274c5e;

}
.mycon {
  height: 1000px;
  margin-top: 250px;
}
.style {
 

  color: white;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}




.blink {
animation: blink 0.3s infinite ease;
font-size: 250px;
color: #274c5e;
position: absolute;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}